@import '../../Partials/colors';
@import '../../Partials/media';

$max_width-760:760px;
$max_width-680:680px;
$max_width-460:460px;
$max_width-360:360px;

.contact {
    display: flex;
    flex-wrap: wrap;
    background: colorFunc(color-penn);
    height: 100vh;
    padding: 3rem 2rem 3rem 6rem;
    justify-content: center;

    &-cont {
        padding: 1rem 4rem;
        width: 40%;
        background: colorFunc(color-ora);
        display: flex;
        flex-direction: column;
        justify-content: center;
        .para-1{
            margin-top: 15px;
            
        }

        &_title {
            font-size: 6rem;
        }

        &_para {
            font-size: 2rem;
        }

    }

    @include media($max_width-680) {
        padding: 1rem;

        &-cont {
            padding: 5rem 2rem;
            width: 70%;
            justify-content: flex-start;

            &_title {
                font-size: 6rem;
            }

            &_para {
                font-size: 2rem;
            }
        }
    }

    @include media($max_width-460) {
        padding: 1rem;

        &-cont {
            padding: 0.5rem 0.5rem;
            width: 50%;

            &_title {
                font-size: 3rem;
            }

            &_para {
                font-size: 2rem;
            }
        }
    }

}